.whole-page {
    width: 100%;
    background-color: #fbfbfb;
}

.shop-card {
    min-width: 390px;
    max-width: 390px;
    min-height: 320px;
    max-height: 320px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.shop-card img {
    height: 250px;
    object-fit: cover;
}
