.whole-page {
    width: 100%;
    background-color: #fbfbfb;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.product-title {
    padding-bottom: 8px;
    font-size: 35px;
}

.product-img {
    border-style: none;
    max-height: 400px;
}

.product-info {
    font-size: 16px;
}

.product-info-card {
    margin: 0 auto;
    padding: 20px;
}

:global(.arco-typography.add-comment-title){
    margin: 0 0 18px 0;
}

:global(.arco-textarea.comment-text-area) {
    height: 100px;
}

.comments-section {
    margin-top: 25px;
}

.comment-item {
    background-color: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
}

.comment-form {
    background-color: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
}

.right-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}