.whole-page{
    background-color: #fbfbfb;
}

.right-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

:global(.two-side-card .arco-card-body) {
    display: flex;
    justify-content: space-between;
}