.shopkeeperBackground {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("images/background.png");
    background-size: 100% 100%;
    display: flex;
}

.card-custom-hover-style {
    transition-property: all;
}

.card-custom-hover-style:hover {
    transform: translateY(-4px);
}